<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <!-- <ion-back-button defaultHref="bookingcalendar"></ion-back-button> -->
    </ion-buttons>
    <ion-title>Thank You</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="consultation-icon-area"><img class="medical-img" src="assets/img/thank-you-icon.png" alt=""></div>
<div class="thank-you-text-area">
<h4>Your application is submitted successfully. We will get back to you within 48 hours.</h4>
<!-- <p>Your Medical Expert will call you soon to confirm the availability of the Doctor at your preffered date and time & discuss your medical history.</p>
<h4>Kindly note that your ambulance request will be confirmed only after the call.</h4> -->
<p (click)="Redirect()" style="background-color:#2d9cdb; width:50%; margin:30px auto 0 auto; padding:10px; border-radius: 5px; color:#fff; font-weight: 500;">OKAY</p>
</div>
</ion-content>
