.consultation-icon-area{text-align: center; padding: 20px 0px; margin-top: 20px;}
.consultation-icon-area img{height: 64px;}
.center{text-align:center;}

.thank-you-text-area{padding: 20px; text-align: center;}
.thank-you-text-area h4{font-size: 14px;}
.thank-you-text-area p{font-size: 12px; color:#8c8c8c;}