<ion-content>
  <div class="white-bg">
  <div class="curved-div">
    <img class="logo-img" src="assets/img/logo.png" alt="">
  </div>
<ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <div class="ion-padding">
          <ion-list lines="none">
            <div class="top-headline">
              <h6>Fill out this form</h6>
              <p>Please complete your information</p>
            </div>
            <form>
              <ion-row>
                <ion-col size="12">
                  <ion-item lines="none" class="input-no-underline gloabal-input">
                    <ion-input type="text" [(ngModel)]="FirstName" placeholder="First Name" name="FirstName" required>
                    </ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="12">
                  <ion-item lines="none" class="input-no-underline gloabal-input">
                    <ion-input type="text" [(ngModel)]="LastName" placeholder="Last Name" name="LastName" required>
                    </ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="12">
                  <ion-item lines="none" class="input-no-underline gloabal-input">
                    <ion-input type="text" [(ngModel)]="Email" placeholder="Email" name="Email" required>
                    </ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="12">
                  <ion-item lines="none" class="input-no-underline gloabal-input">
                    <ion-input type="text" [(ngModel)]="Password" placeholder="Password" name="Password" required>
                    </ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </form>
            <ion-item>
              <ion-checkbox color="primary" slot="start"></ion-checkbox>
              <ion-label style="font-size: 12px; color:#D0CFCF;">By creating an account you agree to our terms</ion-label>
            </ion-item>
          </ion-list>
          <ion-button expand="block" color="" class="full-radious" (click)="redirectTonext()">Continue</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
</ion-content>