.top-cut-bg {display: block;box-sizing: border-box;height: 150px;background-color: #fff;clip-path: ellipse(85% 100% at 74% 0%);}
.blue-color{color:#1ab2cd;text-align: right; margin-bottom: 0;}
.blue-color-two{color:#1ab2cd;}