<ion-header>
  <ion-toolbar class="header-bg-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Bonafide Certificate</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <!-- <div class="top-cut-bg">
    <ion-buttons slot="start">
      <ion-back-button defaultHref color="light"></ion-back-button>
    </ion-buttons>
  </div> -->

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <div class="ion-padding">
          <ion-list lines="none">
            <h6>Add Bonafide Certificate</h6>
            <div class="headline-divider"></div>
            <ion-row class="mar-top-30">
              <!--first Upload Browse Btn -->
              <ion-col size="12">
                <div class="img-area">
                  <ion-item *ngIf="ShowInitialImg" class="visible-overflow">
                    <ion-row
                      class="visible-overflow"
                      style="width: 100%; text-align: center"
                    >
                      <img [src]="ShowInitialImg" />
                      <!-- <img
                        src="assets/img/close-photo.png"
                        alt=""
                        (click)="Deleteimage()"
                        class="photo-close-btn"
                      /> -->
                      <ion-icon name="close-outline" (click)="Deleteimage()"></ion-icon>
                    </ion-row>
                  </ion-item>
                  <div class="upload-btn-wrapper" *ngIf="!ShowInitialImg">
                    <button class="btn"></button>
                    <input
                      type="file"
                      name="Doc5"
                      accept="Image"
                      (change)="onFileSelect($event)"
                    />
                  </div>
                </div>
              </ion-col>
              <!--first Upload Browse Btn End-->
            </ion-row>
          </ion-list>
          <div class="buttons-area">
            <ion-button
              expand="block"
              color=""
              class="full-radious"
              style="height: 40px"
              (click)="Complete()"
            >
              Complete</ion-button
            >
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

